appConfig:
  rabbitmq:
    httpApiUrl: "http://{{ exec "kubectl" (list "get" "secrets" "rabbitmq-cluster-default-user" "-o" "jsonpath={.data.host}") | b64dec }}:15672/api/"
    vHost: "/"
    username: {{ exec "kubectl" (list "get" "secrets" "rabbitmq-cluster-default-user" "-o" "jsonpath={.data.username}") | b64dec }}
    password: {{ exec "kubectl" (list "get" "secrets" "rabbitmq-cluster-default-user" "-o" "jsonpath={.data.password}") | b64dec }}
